<div class="span3">
  <p>
    Use the file input, below, to test uploading a few images directly to
    S3. Either click the button to choose one or more files (multi-select
    is enabled), or try dropping some files on it.
  </p>
  <p>
    <em>Please Note</em> You may only upload JPEG-formatted images, and only up
    to 3MB in size
  </p>
  <form>
    <legend>
    <input type="file" id="files" name="files" multiple>
  </form>
</div>

<div class="span9">
  <ul id="previews" class="thumbnails">
  </ul>
</div>

