<div class="span3">
  <p>
    Click the "Choose Files" button below, or drag some files onto it get started.
  </p>
  <p>
    <small><em>Please Note</em> You may only upload JPEG-formatted images, and
      only up to 3MB in size</small>
  </p>
  <form>
    <legend>
    <input type="file" id="files" name="files" multiple>
  </form>
</div>

<div class="span9">
  <ul id="previews" class="thumbnails">
  </ul>
</div>

