<!DOCTYPE html>
<html>
<head>
  <title>S3PhotoUploader</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class="container">
  <div class="row">
    <div class="page-header">
      <h1>
        S3 Photo Upload Demo
        <small>&mdash; by <a href="http://d.goodlad.net/">David Goodlad</a></small>
      </h1>
    </div>
    <div class="span9">
      <p class="lead">
        This is a simple demonstration of client-side image uploads to Amazon S3. It simulates the scenario where you have an S3 bucket to which you want your users to be able to upload photos directly, with a reasonable user experience beyond what's used to be possible with a simple form POST and redirect.
      </p>
    </div>
    <div class="span3">
      <p>
      <a href="http://github.com/dgoodlad/s3-photo-upload-demo">Get the source!</a>
      </p>
    </div>
  </div>

  <div class="row">
    <%= yield %>
  </div>
</div>

</body>
</html>
